


@media only screen and (max-width:480px){ 

    .moreOptionsMenuContainer{
        width:210px;
        height:auto;
        background-color: white;
        position: absolute;
        top:80%;
        right:10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius:10px;
        z-index: 10;
    }

    .moreOptionsMenuContainer ul li {
        width:100%;
        padding:10px 8px;
        font-size:0.75rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:5px;
    }

    .moreOptionsMenuContainer ul li:active {
        background-color:rgba(0,0,0,0.04);
    }

    .iconArea {
        width:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
    }


    /*theme*/
    .themeLight {
        background-color: white;
        color:black;
    }

    .themeDark {
        background-color: rgb(42, 42, 42);
        color:white;
    }

}