


@media only screen and (max-width:480px) {

    .containerPreference {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:20px 0px 60px;
        gap:15px;
    }

    .titlePreference {
        font-weight: 400;
        font-size:0.9rem;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        width: 170px;
        gap:15px;
    }

    .button {
        width:30px;
        height: 30px;
        border-radius:50%;
        border:1px solid rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}